@using Youbiquitous.Martlet.Core.Extensions
@using Youbiquitous.Minimo.ViewModels.UI
@using Youbiquitous.Minimo.Settings

<!-- LOGO -->
<div class="navbar-brand-box">
    <a href=@Url.Action("index", "work")>
        <span class="logo logo-sm">
            <!img src="/images/logos/minimo-logo-h.png" alt="" height="35" />
        </span>
    </a>
  
</div>


<button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
    <i class="fa fa-fw fa-bars"></i>
</button>
