@using Youbiquitous.Minimo.ViewModels.UI


<div class="d-flex justify-content-center mt-4 mb-3">
    <a href="/">
        <div>
            <img src="/images/minimo-logo-h.png" 
                 width="120" 
                 class="whiten" />
        </div>
    </a>
</div>

<partial name="@RazorPaths.SharedLayout("pv_x_tenant")" />