@using Youbiquitous.Minimo.ViewModels.UI
@model Youbiquitous.Minimo.ViewModels.SimpleViewModelBase

<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="@RazorPaths.SharedLayout("pv_x_metatags")" />

    <title>@Model.Title</title>

    <!-- Core CSS refs -->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css" />
    <link rel="stylesheet" href="/css/minimo-bootstrap-extensions.min.css" />
    <link rel="stylesheet" href="/css/lib/ybq/ybq-core.min.css" />
    <link rel="stylesheet" href="/css/lib/fa5pro.min.css" />

    <!-- More specific CSS refs -->
    @await RenderSectionAsync("adhoc_css", required: false)

    <!-- Core JS refs -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/js/lib/ybq/ybq-core-v24.min.js"></script>
    <script src="/js/minimo-custom.js"></script>
</head>

<body>
<nav class="mb-5 p-3 bg-dark">
    <a href="/">
        <div class="text-center">
            <img src="/images/minimo-logo-h.png" 
                 class="whiten" 
                 style="width: 150px;" />
        </div>
    </a>
</nav>


<!-- Page content-->
<div class="container-fluid">
    @RenderBody()
</div>


<!-- More specific JS refs -->
@await RenderSectionAsync("adhoc_scripts_bottom", required: false)

</body>
</html>
