/* ---------------------------------------------------------------------------- */
/* Application-specific styling  */
/* ---------------------------------------------------------------------------- */

html,body {
    font-family: 'Gantari', sans-serif;
}

hr {
    border-bottom: solid 2px var(--app-darkgrey);
    opacity: 1;
    margin-top: 3px;
    margin-bottom: 10px;
}

.btn-padding {
    padding-left: 25px !important;
    padding-right: 25px !important;
}


/****** App-specific GLOBAL CSS styles ******/


/* Just add any of this to customize the rendering of each sport */
.theme-tennis {
    background-color: #EFF7F3 !important;
}
.theme-padel {
    background-color: #E6F4F7 !important;
}

/* Global styles */
.app-empty-content {
    font-size: .9rem;
    opacity: .7;
    font-style: italic;
    padding: 10px;
    text-align: center;
}

.app-failed {
    color: var(--app-danger);
    padding: 10px;
    text-align: center;
}

.app-done {
    color: var(--app-white);
    background-color: var(--app-success);
    padding: 10px;
    text-align: center;
}

.app-production-warning {
    background-color: var(--app-warning);
    text-align: center;
    padding: 4px;
    font-size: .8rem;
    font-weight: 700;
    color: #444;
}

.atp-brand {
    color: var(--atp-brand);
}

.wta-brand {
    color: var(--wta-brand);
}

.org-badge {
    font-size: .65rem;
    font-weight: 900;
}

.app-bg-test-ceremony {
    background-color: #f5f5f7;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #fffcf7 0, #fffcf7 1px, #e5e5f7 0, #e5e5f7 50%);
}


