@model Youbiquitous.Minimo.ViewModels.MainViewModelBase
<div class="card border-primary border-0 border-start 
            border-5 shadow h-100 py-2">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col me-2">
                <div class="lh-1 text-primary text-xs
                            text-uppercase mb-1">
                    Title
                </div>
                <div class="h5 text-dark">
                   Some content goes here
                   <span class="fw-normal text-xs ms-"></span>
                </div>
            </div>
            <div class="col-auto">
                <i class="fa fa-bars fa-2x opacity3"></i>
            </div>
        </div>
    </div>
</div>

<hr />

<card type="Active"
      title="Title"
      icon="fa fa-bars fa-2x"
      img-class="opacity3"
      title-class="text-xs"
      text="Some content goes here" />
