
.logged-dd-menu {
    min-width: 300px;
    border: solid 2px;
}

.logged-dd-markup {
    background: #eee;
    border-bottom: solid 1px var(--app-darkgrey);
    margin-bottom: 10px;
}

.logged-dd-markup-container {
    font-size: .7rem;
    padding: 0;
    text-align: center;
}

.logged-dd-markup-header {
    background: var(--app-primary);
    padding: 2px;
    font-size: .8rem;
    color: #fff;
}

.logged-dd-runtime {
    opacity: .7;
}

.logged-dd-version {
    opacity: .7;
}